<div class="search">
    <h2>استان اصفهان</h2>
    <div class="search__box">

        <div class="search__box-head">
            <img src="../../../assets/img/home page/search.png" alt="search">

            <div class="search__box-input">
                <input type="text" placeholder="جستجو محبوب‌ترین غذای خود در استان اصفهان" v-model="search">
            </div>
        </div>

        <div class="search__box-body">

            <div class="search__box-body-content">
                <label *ngFor="let i of foods">
                    <p>{{i.title}}</p>
                    <input type="checkbox" (change)="select(i.id, $event)">
                    <div>
                        <img src="../../../assets/img/home page/mark.png">
                    </div>
                </label>

            </div>
        </div>
    </div>
    <button class="search__box-button" (click)="submit()">
        <div class="search__box-button-step">3/{{selectedFood.length}}</div>
        <div class="search__box-button-text">ثبت</div>
    </button>
</div>